blockquote {
  border-left: 5px solid gray;
  font-style: italic;
  margin-left: 50px;
  padding-left: 10px;
}

img {
  max-width: 600px;
}

.card:hover {
  cursor: pointer;
}

.card-img-top {
  filter: grayscale(30%);
  height: 50px;
  margin-left: 16px;
  object-fit: cover;
  object-position: 0 -5px;
  width: 200px !important;
}

.card:hover .card-img-top {
  filter: none;
}
