blockquote {
  border-left: 5px solid gray;
  font-style: italic;
  margin-left: 50px;
  padding-left: 10px;
}

img {
  max-width: 600px;
}

.card:hover {
  cursor: pointer;
}

.card-img-top {
  filter: grayscale(30%);
  height: 50px;
  object-fit: cover;
  object-position: 0 -8px;
  width: 100% !important;
}

.card:hover .card-img-top {
  filter: none;
}

.tiltable {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  cursor: pointer;
  max-width: 18rem;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.03) rotate(-1deg);
  }
}
