.pagination {
  align-items: center;
  display: flex;
  gap: 5px;
}

.pagination-item {
  background-color: #d4d4d4;
  cursor: pointer;
  padding: 5px 15px;
  text-align: center;

  &:hover {
    filter: brightness(90%);
  }
}

.pagination-item.active {
  background-color: rgb(230, 217, 70);
  cursor: default;

  &:hover {
    filter: brightness(100%);
  }
}

.pagination-item.disabled {
  background-color: transparent;
  cursor: default;

  &:hover {
    filter: brightness(100%);
  }
}
