name: Commitlint

on: [pull_request]

permissions:
  contents: read
  pull-requests: read

jobs:
  commitlint:
    runs-on: ubuntu-latest
    timeout-minutes: 1
    steps:
      - name: Commitlint
        uses: wagoid/commitlint-github-action@v6
